[submodule "BackEnd"]
	path = BackEnd
	url = git@github.com:prefeiturasp/SME-PTRF-BackEnd.git
[submodule "FrontEnd"]
	path = FrontEnd
	url = git@github.com:prefeiturasp/SME-PTRF-FrontEnd.git
[submodule "Docs"]
	path = Docs
	url = git@github.com:prefeiturasp/SME-PTRF-Docs.git
